<html>
<head>
    <title id="title">Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <form action="/user/profile" method="POST">

            <div class="col-md-6">
                <label for="email">Email</label>
                {% if id-error %}
                <div class="alert alert-danger">{{id-error}}</div>
                {% endif %}
                <p>
                    <input class="form-control" id="email" name="email" tabindex="1" type="text" value="{{username}}"/>
                </p>

                {% for field in add-fields %}
                <label for="{{field.id}}">{{field.label}}</label>
                <p>
                    <input class="form-control" id="{{field.id}}" name="{{field.id}}" tabindex="1" type="{{field.type}}"/>
                </p>
                {% endfor %}

                <input class="btn" type="submit" value="Save Profile">

            </div>

            <div class="col-md-6">

            </div>

        </form>
    </div>
</div>

</body>
</html>
