[
  ;; cljs.releases
  {:db/id #db/id [:db.part/db],
          :db/ident :lweb
          :db.install/_partition :db.part/db
          :db/doc "The partition of the database for cljs.releases"}
  {:db/id #db/id [:db.part/db]
          :db/ident :lweb/id
          :db/valueType :db.type/uuid
          :db/cardinality :db.cardinality/one
          :db/unique :db.unique/identity
          :db.install/_attribute :db.part/db
          :db/doc "A unique identifier for any element"}

  {:db/id #db/id [:db.part/db]
          :db/ident :release/name
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db/index true
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :release/epic
          :db/valueType :db.type/ref
          :db/cardinality :db.cardinality/many
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :epic/key
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db/unique :db.unique/identity
          :db/index true
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :release/startDate
          :db/valueType :db.type/instant
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :release/endDate
          :db/valueType :db.type/instant
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}

  ;; users
  {:db/id #db/id [:db.part/db]
          :db/ident :user/email
          :db/unique :db.unique/identity
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/password
          :db/index false
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/role
          :db/index false
          :db/valueType :db.type/keyword
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/activated
          :db/index false
          :db/valueType :db.type/boolean
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/firstName
          :db/index true
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/lastName
          :db/index true
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/activationid
          :db/index false
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/jirapasswordkey
          :db/index false
          :db/valueType :db.type/uuid
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  ]
