[
  {:db/id #db/id [:db.part/db],
          :db/ident :friendui
          :db.install/_partition :db.part/db
          :db/doc "The partition of the database for releases"}
  {:db/id #db/id [:db.part/db]
          :db/ident :friendui/id
          :db/valueType :db.type/uuid
          :db/cardinality :db.cardinality/one
          :db/unique :db.unique/identity
          :db.install/_attribute :db.part/db
          :db/doc "A unique identifier for any element"}
  ;; users
  {:db/id #db/id [:db.part/db]
          :db/ident :user/email
          :db/unique :db.unique/identity
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/password
          :db/index false
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/role
          :db/index false
          :db/valueType :db.type/keyword
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/activated
          :db/index false
          :db/valueType :db.type/boolean
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/firstName
          :db/index true
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/lastName
          :db/index true
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
          :db/ident :user/activationid
          :db/index false
          :db/valueType :db.type/string
          :db/cardinality :db.cardinality/one
          :db.install/_attribute :db.part/db}
  ]
