<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div field="admin">
    <table field="table" class="table">
        <thead>
            <tr field="table-header-row">
                <td field="header-entry">Username:</td>
            </tr>

        </thead>
        <tbody field="table-entries">
            <tr field="table-entry">
                <td field="username-td"></td>
                <td>
                    <select field="role-select">
                        <option field="role_option"></option>
                    </select>
                </td>
                <td field="active-td"><input type="checkbox" /></td>
                <td field="update-td"><input type="button" value="Update User" class="btn btn-primary"/></td>
            </tr>
        </tbody>

    </table>

    <script type="text/javascript" src="/js/user/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/user/react-0.9.0.js"></script>

    <script type="text/javascript" src="/js/user/out/goog/base.js"></script>
    <script type="text/javascript" src="/js/user/all.js"></script>
    <script type="text/javascript"> goog.require("lweb.releases"); </script>


</div>

</body>
</html>