{
  :datomic-uri "datomic:mem://localhost:4444/friendui"
  :partition-id "friendui"
  :username-kw "user/email"
  :pw-kw "user/password"
  :activated-kw "user/activated"
  :role-kw "user/role"
  :hostname "http://example.com/" ;used for generation of activation link
  :mail-from "example@example.com" ;used as from mail address
  }