{
  :datomic-uri "datomic:mem://friendui"
  ;:datomic-uri "datomic:mem://localhost:4444/friendui"
  :partition-id :friendui
  :username-kw :user/email
  :pw-kw :user/password
  :activated-kw :user/activated
  :role-kw :user/role
  :hostname "http://example.com/" ;used for generation of activation link
  :mail-from "example@example.com" ;used as from mail address
  :available-roles [:user/admin :user/free]                 ;the user roles that are available for your application
  ;:additional-profile-fields [
  ;                             { :id ":user/jiraurl" :id-kw :user/jiraurl :type "text" :label "Jira URL"}
  ;                             { :id ":user/jirausername" :id-kw :user/jirausername :type "text" :label "Jira Username"}
  ;                             { :id ":user/jirapassword" :id-kw :user/jirapassword :type "password" :label "Jira Password"}
  ;                             ]
  }

;(22:25:42) tbaldridge: sveri: probably better to define a protocol, and then pass an instance to frendui. That way all the functions are in one thing, instead of having to pass multiple callbacks